<li class="list-unstyled mt-4 border">
  <div class="row mt-3 mb-3">
    <div class="col">
      <div class="soccer-match">
        <%= image_tag("/assets/football-logo/#{soccer_match.home_name}.png",size: "150x150") %>
      </div>
      <div class="row soccer-match">
        <%= soccer_match.home_name %>
      </div>
    </div>
    <div class="col">
      <div class="soccer-match">
        <span class="fw-bold"><%= t "soccer_matches.soccer_match.league", name: soccer_match.tournament_name %></span>
      </div>
      <div class="text-warning soccer-match">
          <%= check_status_match(soccer_match.status) %>
      </div>
      <div class="row h1 soccer-match">
        <%= calculate_score(soccer_match.home_team, soccer_match.id) %>
         -
        <%= calculate_score(soccer_match.guest_team, soccer_match.id) %>
      </div>
      <div class="soccer-match">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <%= t ".action" %>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <% unless soccer_match.status %>
              <li><%= link_to t(".set_bet_btn"),"#", class: "dropdown-item" %></li>
              <li><%= link_to t(".edit_match_btn"), edit_admin_soccer_match_path(soccer_match.id), class: "dropdown-item" %></li>
            <% else %>
              <li><%= link_to t(".show_bet_win"), admin_user_bets_path(match_id: soccer_match.id), class: "dropdown-item" %></li>
              <li><%= link_to t(".show_bet_win_score"), admin_user_bets_path(match_id: soccer_match.id, score: true), class: "dropdown-item" %></li>
              <li>
              <%= link_to t(".show_match_btn"), admin_soccer_match_path(soccer_match.id), class: "dropdown-item" %>
              </li>
            <% end %>
            <li>
              <%= link_to t(".edit_match_btn"), edit_admin_soccer_match_path(soccer_match.id), class: "dropdown-item" %>
              </li>
          </ul>
        </div>
      </div>

      <div class="soccer-match">
        <%= time_handling(soccer_match.time) %>
      </div>
    </div>

    <div class="col">
      <div class="soccer-match">
        <%= image_tag("/assets/football-logo/#{soccer_match.guest_name}.png", size: "150x150") %>
        </div>
      <div class="row soccer-match">
        <%= soccer_match.guest_name %>
      </div>
    </div>
  </div>
</li>
