<% provide :title, t(".help") %>
<div class="center jumbotron">
  <h1><%= t ".help" %></h1>
  <h2>
  <%= t ".intro_help1" %>
  <%= link_to t(".football_bet_help"), "#" %>
  </br>
  <%= t ".intro_help2" %>
  <%= link_to t(".football_bet_book"), "#" %>
  </h2>
</div>
