<% provide :title, t(".title") %>
<div class="row">
  <div class="col mt-3">
    <h3 class="text-danger text-primary">
      <%= t ".title" %>
    </h3>
    <%= search_form_for @q, url: admin_user_bets_path,
                        html: { method: :get } do |f| %>
        <%= f.hidden_field :match_id, value: @match.id %>
        <%= f.label :amount_gteq %>
        <%= f.search_field :amount_gteq %>

        <%= f.submit %>
    <% end %>
    <div class="row mt-3">
      <div class="col-md-1 text-primary">
        <%= t ".title_#" %>
      </div>
      <div class="col-md-3 text-primary">
        <%= t ".title_id" %>
      </div>
      <div class="col-md-2 text-center text-primary">
        <%= t ".title_amount" %>
      </div>
      <div class="col-md-2 text-center text-primary">
        <%= t ".title_user" %>
      </div>
      <div class="col-md-2 text-center text-primary">
        <%= t ".at" %>
      </div>
      <div class="col-md-2 text-primary">
        <%= t ".title_action" %>
      </div>
    </div>
    <ol class="user_bets">
      <%= render(@user_bets) || t(".empty") %>
    </ol>
    <%== pagy_nav @pagy %>
  </div>
  <div class="row offset-10">
    <%= button_to t(".payment_all"), admin_payment_all_path(bet_id: @bet.id) unless check_all_result_bet @bet%>
  </div>
</div>
