<div class="nested-fields row" id="goal_results">
  <%= soccer.fields_for :goal_results do |f| %>
    <div class="col-md-5 btn"><%= f.collection_select :player_id, team.team_tournaments.first.players, :id, :name %></div>
    <div class="col-md-1"></div>
    <%= f.number_field :time_goal, in: 0..120, step: 1, class: "col-md-2 btn" %>
    <%= f.hidden_field :team_id, value: team.id %>
    <div class="col-md-3">
      <%= button_to t(".remove"), "#", class: "remove-#{index}" %>
    </div>
  <% end %>
</div>
<%= javascript_pack_tag "remove_fields" %>
