<!DOCTYPE html>
<html>
  <head>
    <title> <%= full_title yield :title%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  </head>

  <body>
    <%= render "layouts/header" %>
    <% if logged_in? %>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-2 bg-light sticky-top mb-5">
            <%= render "layouts/asider" %>
          </div>
          <div class="col-sm-10 bg-light sticky-top mb-5">
            <% flash.each do |message_type, message| %>
              <div class="container-fluid">
                <div class="alert alert-<%= message_type %>"><%= message %></div>
              </div>
            <% end %>
            <%= yield %>
          </div>
        </div>
      </div>
    <% else %>
      <% flash.each do |message_type, message| %>
          <div class="container-fluid">
            <div class="alert alert-<%= message_type %>"><%= message %></div>
          </div>
      <% end %>
      <div class="container-fluid mb-5">
        <%= yield %>
      </div>
    <% end %>
    <%= render "layouts/footer" %>
  </body>
</html>
